@using UNI.Data
@using Microsoft.EntityFrameworkCore
@model UNI.ViewModels.LoginModel
@{
    ViewData["Title"] = "Main page";
    var subjects = new List<Subject>();
    var db = (ApplicationDbContext) ViewData["db"];
    var conn = db.Database.GetDbConnection();
    await conn.OpenAsync();
    var cmd = conn.CreateCommand();
    cmd.CommandText = $"SELECT * FROM student_subjects({Model.Login})";
    var reader = await cmd.ExecuteReaderAsync();
    while (await reader.ReadAsync())
    {
        subjects.Add(new Subject((long) reader[0], (string) reader[1], (int) reader[2]));
    }
    await reader.DisposeAsync();
}
<div>
    <ul>
        @{
            foreach (var subject in subjects)
            {
                cmd.CommandText = $"SELECT * FROM student_current_grade_of_subject({Model.Login}, {subject.subject_id})";
                double grade = (double) await cmd.ExecuteScalarAsync();
                <li>@subject.subject_name, current grade @grade</li>
            }
        }
    </ul>
    @{
        cmd.CommandText = "SELECT * FROM events";
        List<Event> events = new List<Event>();
        reader = await cmd.ExecuteReaderAsync();
        while (await reader.ReadAsync())
        {
            events.Add(new Event {event_id = (long) reader[0], event_icon = (string) reader[1], event_date = (DateTime) reader[2], title = (string) reader[3], description = (string) reader[4]});
        }
        foreach (var e in events)
        {
            <div class="border-top">
                <span class="h3 d-block">@e.title: @e.event_date.ToString("yyyy-MM-dd")</span>
                <img src="@Url.Content("icons/event.png")" />
                <span class="font-weight-bold">
                    @e.description
                </span>
            </div>
        }
    }
</div>
